# CAP firstcapm
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/
.settings/
.project
.classpath
package-lock.json
openapi.json
schema.sql
schema-nomocks.sql
# MTA
*_mta_build_tmp
*.mtar
mta_archives/
edmx/
# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
